@using HomeStreetInvest.Model;
@using Homsin.Service;
@using Homsin.Session;

@inject HouseIntelService HouseIntelService
@inject NavigationManager NavigationManager

<div class="container-fluid" style="max-width:1000px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Est_LowDense.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Low Density Residence</h5>
                    <p class="card-text">Specifically designed for single-family homes with larger lots in residential areas</p>
                    <button type="button" class="@(SelectedZoning != 3 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(MSZoning.RL))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> 
                        &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Est_MediumDense.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Medium Density</h5>
                    <p class="card-text">Permits medium-density housing, including townhouses and multi-family dwellings</p>
                    <button type="button" class="@(SelectedZoning != 4 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(MSZoning.RM))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> 
                        &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Est_HighDense.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">High Density</h5>
                    <p class="card-text">For high-density housing developments, such as apartment complexes</p>
                    <button type="button" class="@(SelectedZoning != 2 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(MSZoning.RH))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> 
                        &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Est_Farm.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Farm Village</h5>
                    <p class="card-text">Farmhouses with or without Farms, Suitable for agricultural or rural residential areas with specific rules and regulations</p>
                    <button type="button" class="@(SelectedZoning != 1 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(MSZoning.FV))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> 
                        &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Est_Com.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Commercial</h5>
                    <p class="card-text">Allows for various commercial and mixed-use properties like businesses and retail establishments</p>
                    <button type="button" class="@(SelectedZoning != 0 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(MSZoning.C))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> 
                        &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<br />
<br />

@code 
{
    private int SelectedZoning { get; set; }

    private void PrefSelected(MSZoning zoningPref)
    {
        HouseIntelService.housePrice.mSZoning = zoningPref;
        SelectedZoning = (int)HouseIntelService.housePrice.mSZoning;
        HouseIntelService.currentWizardPage = 1;
        StateHasChanged();
    }
}
