@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject HouseIntelService HouseIntelService

<div class="container-fluid" style="max-width:1000px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_2Way.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Two Frontage</h5>
                    <p class="card-text">The lot has frontage on two sides, typically facing two different streets or roadways</p>
                    <button type="button" class="@(SelectedLoc != 2 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(LotConfig.FR2))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" />   &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_3Way.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Three Frontage</h5>
                    <p class="card-text">The lot has frontage on three sides, often facing three different streets or roadways</p>
                    <button type="button" class="@(SelectedLoc != 3 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(LotConfig.FR3))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" />   &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Corner.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Corner</h5>
                    <p class="card-text">The lot is located at the corner of two intersecting streets, providing more than one street frontage</p>
                    <button type="button" class="@(SelectedLoc != 0 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(LotConfig.Corner))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" />   &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Culdesac.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cul-de-Sac</h5>
                    <p class="card-text">A Cul-de-Sac neighbourhood is situated at the end of a dead-end street or in a cul-de-sac, which typically means less traffic and a quieter location</p>
                    <button type="button" class="@(SelectedLoc != 1 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(LotConfig.CulDSac))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" />   &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Inside.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Inside</h5>
                    <p class="card-text">The lot is located within a block or within a neighborhood and does not have any special frontage characteristics like being on a corner or a cul-de-sac</p>
                    <button type="button" class="@(SelectedLoc != 4 ? "btn btn-outline-info" : "btn btn-info")" @onclick="@(() => PrefSelected(LotConfig.Inside))">
                        <img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" />   &nbsp Select Zoning
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<br />
<br />

@code {
    private int SelectedLoc { get; set; }

    private void PrefSelected(LotConfig lotConfig)
    {
        HouseIntelService.housePrice.lotConfig = lotConfig;
        SelectedLoc = (int)HouseIntelService.housePrice.lotConfig;
        HouseIntelService.currentWizardPage = 2;
        StateHasChanged();
    }
}
