@page "/"
@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject NavigationManager NavigationManager
@inject AuthenticationService AuthenticationService
@inject AdDataService AdDataService
@inject MarketAuxService MarketAuxService
@inject FeedDataService FeedDataService


<MasterLogCheck></MasterLogCheck>

<div class="container-fluid" style="background-image: url('assets/HeaderImage.png');">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4" style="font-family: Sacramento, sans-serif; color:#4C86A8; margin-top:10px;margin-left:10px;">Homsin</h1>
            <p class="lead" style="margin-left:10px;">Homsin, Your Guide to Smart Home and Stock Investments.</p>
            @*<hr class="my-4">*@
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color:#4C86A8">
    <div class="container">
        <br/>
        <h1 class="display-4" style="color:white">@DateTime.Now.ToString("dddd"), @DateTime.Now.Day @DateTime.Now.ToString("MMMM") @DateTime.Now.Year</h1>
        <p class="lead" style="color:white">Welcome Back, @AuthenticationService.Username</p>
        <br />
    </div>
</div>

<br/>
<br/>

<div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="list-group">
                    <a href="/Housing/Estimates/Create" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Create House Estimate</h5>
@*                            <small>3 days ago</small>*@
                        </div>
                        <p class="mb-1">Create an Estimate profile thru wizard</p>
                        <small>You can save your estimates</small>
                    </a>
                </div>
            </div>
        <br />
            <div class="col-sm">
                <div class="list-group">
                <a href="/Housing/Library" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">View Feed</h5>
                        </div>
                        <p class="mb-1">View stock and House news feeds</p>
                        <small>View and create Posts</small>
                    </a>
                </div>
            </div>
        <br />
            <div class="col-sm">
                <div class="list-group">
                <a href="/Messages" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Messages</h5>
                        </div>
                        <p class="mb-1">25 New Messages</p>
                        <small>View and Send Messages</small>
                    </a>
                </div>
            </div>
        </div>
    <br />
    <br />
        <div class="row">
            <div class="col-sm-8">
            @if (!ads.Any())
            {
                <p>Loading...</p>
            }
            else
            {
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    @ads[ads.Count-1].heading
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @ads[ads.Count-1].content
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @ads[ads.Count-2].heading
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                @ads[ads.Count-2].content
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @ads[ads.Count-3].heading
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                @ads[ads.Count-3].content
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
            <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><h5>Summary</h5></li>
                <li class="list-group-item">20 My Ads</li>   
                <li class="list-group-item">25 My Posts</li>
                <li class="list-group-item">17 My Estimates</li>
                <li class="list-group-item">08 Chats</li>
            </ul>
            <br/>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="">
                        <h5>From Admin</h5>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="">
                        <p>1 Notices</p>
                    </div>
                </li>
            </ul>
            </div>
        </div>
</div>

<br/>

<br/>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
            style="background-color: #1c2331">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4"
             style="background-color: #4C86A8">
            <!-- Left -->
            <div class="me-5">
                <span>Homsin</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Home-Street-Invest</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 120px; background-color: #4C86A8; height: 2px" />
                        <p>
                        Homsin is not just an app; it's a trusted partner on your financial journey. 
                        With Homsin, you can navigate the complexities of real estate and stock market 
                        investing with confidence, maximizing your opportunities and securing your financial future.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold"><i class="fa fa-superpowers"></i></h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #4C86A8; height: 2px" />
                        <p>Log Out</p>
                        <p>Download User Settings</p>
                        <p>Contact Admin</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
    </footer>

    <!-- Footer -->

@code
{
    List<Feed> feeds { get; set; }
    List<Advertisment> ads { get; set; } = new();

    Feed RandomFeed { get; set; }

    private string _ErrorMessage { get; set; } = "";

    private Root _MarketAuxNews { get; set; } = new();

    protected override async void OnInitialized()
    {
        ads = (await AdDataService.GetAsync()).OrderBy(a => a.datePosted).ToList();
        feeds = await FeedDataService.GetAsync();

        Random random = new();

        RandomFeed = feeds[random.Next(0, feeds.Count-1)];

        StateHasChanged();
    }
}